.Kwrapper {
  width: auto;
  height: auto;
  padding: 10px;
  padding-top: 100px;
  border-radius: 20px;
  background-color: #489461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.Kouter {
  padding-top: 10px;

  margin: 40px;
}
.equals {
  background: green;
  grid-column: 3/5;
}
