.wrapper {
  width: 360px;
  height: 562px;
  padding: 10px;

  border-radius: 20px;
  background-color: #489461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.Touter {
  padding-top: 100px;
  padding-bottom: 50px;
}
